.BenefitsSection--column {
  padding: var(--section-vertical-padding) 3em;
  width: 86em; /* TODO */
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.BenefitsSection--benefits {
  --benefit-width: 22em;
  --gutter: 4em;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width: calc((var(--benefit-width) + var(--gutter)) * 2);
  margin: calc(-1 * var(--gutter) / 2);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.BenefitsSection--benefit {
  width: var(--benefit-width);
  margin: calc(var(--gutter) / 2);
  max-width: 100%;
}

.BenefitsSection--cta {
  margin-top: calc(var(--section-vertical-padding) * .5);
  font-size: 1.333em;
  text-align: center;
}

.BenefitsSection--cta-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

@media (max-width: 50em) {
  .BenefitsSection--column {
    padding-left: 1em;
    padding-right: 1em;
  }

  .BenefitsSection--benefits {
    --gutter: 4em;
  }

  .BenefitsSection--benefit {
    margin-left: auto;
    margin-right: auto;
  }
}

.BenefitsSection--benefit-illustration {
  margin-bottom: .5em;
}

.BenefitsSection--benefit-title {
  font-size: 1.333em;
  font-weight: bold;
  margin-bottom: .3333em;
}

[theme="dark"] .BenefitsSection--benefit-description {
  color: var(--gray-6);
}

.BenefitsSection--benefit-description-footnote-p {
  padding-right: 2em;
  font-size: .9em;
  font-style: italic;
}

.BenefitsSection--benefit-description-latency-test {
  display: flex;
  align-items: center;
}

.BenefitsSection--benefit-description-latency-test-value {
  font-family: var(--monospace-font-family);
  font-size: .925em;
  font-weight: bold;
  margin-left: .5em;
  margin-right: 1.5em;
}

.BenefitsSection--benefit-description-latency-test-value > span {
  animation: benefit-section-latency-test-flash .3s ease;
}

@keyframes benefit-section-latency-test-flash {
  from { color: var(--orange-6) }
  to   { color: inherit         }
}

.BenefitsSection--benefit-description-latency-test-button {
  margin-left: auto;
  font-size: .8em;
}

@media (max-width: 414px) {
  .BenefitsSection--benefit-illustration > img {
    margin: auto;
  }

  .BenefitsSection--benefit-title,
  .BenefitsSection--benefit-description {
    text-align: center;
  }

  .BenefitsSection--benefit-description {
    padding-left: 1em;
    padding-right: 1em;
  }

  .BenefitsSection--benefit-description-footnote-p {
    padding-right: 0;
  }

  .BenefitsSection--cta {
    font-size: 1em;
  }

  .BenefitsSection--cta-cta {
    font-size: 1.333em;
  }
}

@media (max-width: 320px) {
  .BenefitsSection--benefit-description {
    padding-left: 0;
    padding-right: 0;
  }
}
