.SitesHeroSection--column {
  display: flex;
  align-items: center;
  justify-content: center;
  --vertical-padding-top: 4em;
  padding: calc(var(--header-height) + var(--vertical-padding-top)) 2em var(--section-vertical-padding);
  width: 100%;
}

.SitesHeroSection--content {
  flex: 1;
  position: relative;
  z-index: 2;
  width: 34em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.SitesHeroSection--logo {
  width: 11.5em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.SitesHeroSection--title {
  font-size: 3.1em;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: .2em;
}

.SitesHeroSection--description {
  font-size: 1.5em;
  width: 19em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
}

@media (min-width: 1340px) {
  .SitesHeroSection--title {
    font-size: 3.8em;
    margin-bottom: .15em;
  }

  .SitesHeroSection--description {
    width: 26.5em;
  }
}

.SitesHeroSection--plan {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: .25em;
}

.SitesHeroSection--plan-note {
  font-size: .85em;
  margin-bottom: 2.25em;
}

.SitesHeroSection--plan-note-link-style-refinement {
  --underline-size: -.1em;
  display: inline-block;
  text-indent: -.1em;
  margin-left: .1em;
  line-height: 1.3;
}

.SitesHeroSection--actions {
  font-size: 1.333em;
  display: flex;
  width: 100%;
  justify-content: center;
}

.SitesHeroSection--actions-mobile {
  display: none;
}

.SitesHeroSection--actions-item:not(:last-child) {
  margin-right: 1em;
}


@media (max-width: 960px) {
  .SitesHeroSection--column {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 414px) {
  .SitesHeroSection--column {
    --vertical-padding-top: 2em;
  }

  .SitesHeroSection--logo {
    width: 9em;
  }

  .SitesHeroSection--title {
    font-size: 3em;
  }

  .SitesHeroSection--description {
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
  }

  .SitesHeroSection--actions {
    font-size: 1.2em;
  }

  .SitesHeroSection--actions-desktop {
    display: none;
  }

  .SitesHeroSection--actions-mobile {
    display: flex;
  }
}
