.CustomerLogosSection {
  padding-top: 3em;
  padding-bottom: 3.5em;
  background: var(--section-tiger-stripe-background-color);
  color: var(--deemphasized-color);
}

.CustomerLogosSection--title {
  font-family: var(--monospace-font-family);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
}

.CustomerLogosSection--logos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.CustomerLogosSection--logo {
  --height: 2em;
  --vertical-adjust: 0;
  position: relative;
  height: var(--height);
  width: calc(var(--height) / var(--aspect-ratio));
  margin: 0 calc(var(--height) * .875);
  top: calc(var(--height) * var(--vertical-adjust));
}

[theme="dark"] .CustomerLogosSection--logo {
  -webkit-filter: brightness(3.2);
}

@media (min-width: 901px) {
  /* TODO */
  [theme="dark"] .CustomerLogosSection {
    padding-top: var(--section-vertical-padding);
    padding-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .CustomerLogosSection--logo {
    --height: 3vw;
  }
}

@media (max-width: 600px) {
  .CustomerLogosSection--title {
    margin-bottom: 3em;
  }

  .CustomerLogosSection--logos {
    flex-wrap: wrap;
    margin-top: -.75em;
    margin-bottom: -.75em;
  }

  .CustomerLogosSection--logo {
    --height: 1.25em;
    margin-top: .75em;
    margin-bottom: .75em;
  }
}
