.GreatPowerSection {
  padding-top: var(--section-vertical-padding);
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.GreatPowerSection--title {
  font-size: 3.25em;
  line-height: 1.2;
  font-weight: bold;
  margin-top: -.25em;
  margin-left: auto;
  margin-right: auto;
}

.GreatPowerSection--title-first-line {
  font-size: 1.5em;
}

[theme="dark"] .GreatPowerSection--title-second-line {
  color: var(--gray-4);
}

@media (max-width: 500px) {
  .GreatPowerSection--title {
    font-size: 8vw;
  }
}
