.HeroSection--column {
  display: flex;
  align-items: center;
  justify-content: center;
  --vertical-padding-top: 3.5em;
  --horizontal-gap: 4em;
  --illustration-width-ems: 28.8;
  --illustration-font-size: 1em;
  padding: calc(var(--header-height) + var(--vertical-padding-top)) 2em var(--section-vertical-padding);
  width: 100%;
}

.HeroSection--content {
  flex: 1;
  position: relative;
  z-index: 2;
  max-width: 29em;
  margin-right: var(--horizontal-gap);
}

.HeroSection--title {
  font-size: 3.1em;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: .2em;
}

.HeroSection--title-first-line {
  font-size: .9em;
  line-height: .9;
}

.HeroSection--description {
  font-size: 1.5em;
  margin-bottom: 1.25em;
}

.HeroSection--actions {
  font-size: 1.333em;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.HeroSection--actions-mobile {
  display: none;
}

.HeroSection--key-points {
  text-align: left;
  font-size: .95em;
}

.HeroSection--new-badge {
  position: relative;
  top: -1px;
  margin-left: 2px;
  font-size: .8em;
  font-weight: 800;
  color: rgb(var(--cloudflare-logo-orange-rgb));
}

[theme="dark"] .HeroSection--key-points {
  color: var(--gray-7);
}

.HeroSection--actions-item:not(:last-child) {
  margin-right: 1em;
}

.HeroSection--illustration {
  flex-shrink: 0;
  font-size: var(--illustration-font-size);
  width: calc(1em * var(--illustration-width-ems));
}

@media (min-width: 961px) and (max-width: 1300px) {
  .HeroSection--column {
    --illustration-font-size: 1.4vw;
  }
}

@media (min-width: 961px) {
  .HeroSection--illustration {
    perspective: 1500px;
    margin-bottom: 1em;
  }

  .HeroSection--illustration-card {
    transform: rotate3d(.5, -.866, 0, 15deg) rotateZ(1deg);
    box-shadow: 2em 4em 6em -2em rgb(0, 0, 0, .5), 1em 2em 3.5em -2.5em rgba(0, 0, 0, .5);
    border-radius: .5em;
    will-change: transform;
    transition: transform .4s ease, box-shadow .4s ease;
  }
}

@media (min-width: 961px) and (hover: hover) {
  .HeroSection--illustration:hover .HeroSection--illustration-card,
  .HeroSection--illustration[has-selection-contained-within] .HeroSection--illustration-card {
    transform: rotate3d(0, 0, 0, 0deg) rotateZ(0deg);
  }
}

@media (max-width: 960px) {
  .HeroSection--column {
    flex-direction: column;
    width: 32em;
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .HeroSection--content {
    margin-right: 0;
    margin-bottom: 3em;
    flex: 0;
  }

  .HeroSection--key-points {
    font-size: 1em;
  }

  .HeroSection--illustration {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .HeroSection--column {
    --vertical-padding-top: 2em;
  }

  .HeroSection--content {
    text-align: center;
  }

  .HeroSection--title {
    font-size: 8.8vw;
  }

  .HeroSection--description {
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
  }

  .HeroSection--actions {
    justify-content: center;
    font-size: 1.2em;
    margin-bottom: 2em;
  }

  .HeroSection--actions-desktop {
    display: none;
  }

  .HeroSection--actions-mobile {
    display: flex;
  }

  .HeroSection--illustration {
    font-size: .75em;
  }
}
