.CustomerLogosSection {
  padding-top: 3em;
  padding-bottom: 3.5em;
  background: var(--section-tiger-stripe-background-color);
  color: var(--deemphasized-color);
}

.CustomerLogosSection--title {
  font-family: var(--monospace-font-family);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
}

.CustomerLogosSection--logos {
  --frame-width: 78em;
  overflow: hidden;
  margin-top: -1em;
  margin-bottom: -1em;
}

.CustomerLogosSection--logos-frame {
  width: calc(100vw + var(--frame-width));
  margin: 0 calc(-1/2 * var(--frame-width));
}

.CustomerLogosSection--logos-content {
  display: flex;
  width: var(--frame-width);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
}

.CustomerLogosSection--logo {
  --height: 2em;
  --vertical-adjust: 0;
  position: relative;
  height: var(--height);
  width: calc(var(--height) / var(--aspect-ratio));
  margin: 1em calc(var(--height) * .875);
  top: calc(var(--height) * var(--vertical-adjust));
}

[theme="dark"] .CustomerLogosSection--logo {
  -webkit-filter: brightness(3.2);
}

@media (min-width: 901px) {
  [theme="dark"] .CustomerLogosSection {
    padding-top: var(--section-vertical-padding);
    padding-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .CustomerLogosSection--logos {
    --frame-width: 58em;
  }
}

@media (max-width: 600px) {
  .CustomerLogosSection--title {
    margin-bottom: 3em;
  }

  .CustomerLogosSection--logos {
    --frame-width: 44em;
  }
}

@media (max-width: 414px) {
  .CustomerLogosSection--logos {
    --frame-width: 78em;
    font-size: 3vw;
  }
}
