.ProjectPage {
  --column-width: 44em;
  --horizontal-padding: 1em;
}

.ProjectPage--header {
  display: flex;
  padding: 0 var(--horizontal-padding);
  width: calc(var(--column-width) + 2 * var(--horizontal-padding));
  align-items: center;
  max-width: 100%;
  margin: 0 auto 3em;
}

.ProjectPage--back-link {
  color: rgba(var(--color-rgb), .8);
}

.ProjectPage--header-action {
  margin-left: 3em;
}

.ProjectPage--header-action-button {
  font-size: 1.2em;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 768px) {
  .ProjectPage {
    --column-width: 32em;
  }

  .ProjectPage--header {
    flex-direction: column;
    text-align: center;
  }

  .ProjectPage--header-content {
    margin-bottom: 2em;
  }

  .ProjectPage--header-action {
    margin-left: 0;
  }

  .ProjectPage--header-action-button {
    width: 100%;
  }
}

.ProjectPage--title {
  font-size: 3em;
  font-weight: normal;
  margin-bottom: .25em;
  line-height: 1.2;
}

@media (max-width: 414px) {
  .ProjectPage--title {
    font-size: 2em;
  }
}

.ProjectPage--description {
  font-size: 1.1em;
}

.ProjectPage--image {
  position: relative;
  width: calc(var(--column-width) + 10em);
  max-width: 100%;
  margin: 0 auto 3em;
}

.ProjectPage--image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  --border-opacity: .15;
  border: 1px solid rgba(var(--color-rgb), var(--border-opacity));
}

[theme="dark"] .ProjectPage--image::after {
  --border-opacity: .1;
}

.ProjectPage--body {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0 var(--horizontal-padding);
  width: calc(var(--column-width) + 2 * var(--horizontal-padding));
  max-width: 100%;
  margin: 0 auto;
}

.ProjectPage--about {
  width: 30em;
  max-width: 100%;
  margin-right: 3em;
}

.ProjectPage--metadata {
  position: sticky;
  top: 2em;
  width: 13em;
  flex-shrink: 0;
  padding-left: 2em;

  margin-top: -.5em;
  margin-bottom: -.5em;
  padding-top: .5em;
  padding-bottom: .5em;

  /* TODO - consider */
  /* box-shadow: -.5em 0 1em -1.25em rgba(var(--shadow-color-rgb), .5); */

  background-image:
    linear-gradient(0deg,
      rgba(var(--shadow-color-rgb), 0.0),
      rgba(var(--shadow-color-rgb), 0.2),
      rgba(var(--shadow-color-rgb), 0.0)
    );
  background-repeat: no-repeat;
  background-size: 1px;
}

@media (max-width: 768px) {
  .ProjectPage--body {
    flex-direction: column;
  }

  .ProjectPage--about {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2em;
  }

  .ProjectPage--metadata {
    padding: 1.5em;
    background: var(--section-tiger-stripe-background-color);
    border-radius: .25em;
    width: 100%;
  }
}

.ProjectPage--metadata-link {
  display: block;
}

.ProjectPage--more {
  margin-top: var(--section-vertical-padding);
  --separator-opacity: .1;
  border-top: 1px solid rgba(var(--color-rgb), var(--separator-opacity));
  padding-top: var(--section-vertical-padding);
}

[theme="dark"] .ProjectPage--more {
  --separator-opacity: .05;
}
