.Collection {
  --content-horizontal-padding: 4.5em;
  --gutter: 3em;
  --project-width: 20em;
}

@media (max-width: 576px) {
  .Collection {
    --content-horizontal-padding: 2.5em;
    --gutter: 1.5em;
  }
}

@media (max-width: 375px) {
  .Collection {
    --content-horizontal-padding: 3em;
    --gutter: 2em;
  }
}

@media (max-width: 2400px) {
  .Collection {
    --columns: 6
  }
}

@media (max-width: 2100px) {
  .Collection {
    --columns: 5
  }
}

@media (max-width: 1800px) {
  .Collection {
    --columns: 4
  }
}

@media (max-width: 1500px) {
  .Collection {
    --columns: 3
  }
}

@media (max-width: 1200px) {
  .Collection {
    --columns: 2
  }
}

@media (max-width: 375px) {
  .Collection {
    --columns: 1
  }
}

@media (max-width: 2400px) {
  .Collection {
    --project-width: calc((100vw - var(--content-horizontal-padding) - var(--columns) * var(--gutter)) / (var(--columns) + .5));
  }
}

@media (max-width: 768px) and (min-height: 600px) {
  .Collection {
    --columns: 1;
    --project-width: 80vw;
  }
}

@media (max-width: 375px) {
  .Collection {
    --project-width: calc(100vw - 2 * var(--content-horizontal-padding))
  }
}

.Collection--header {
  display: flex;
  align-items: center;
}

.Collection--title a {
  color: var(--color);
  font-size: 25px;
  text-decoration: none;
}

.Collection--title a:hover {
  text-decoration: underline;
}

/* TODO - put scroll snap stuff inside of @supports (scroll-snap-align: start) */

.Collection--projects {
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--project-width));
  gap: 1em calc(var(--gutter) / 2);
}

@supports (-webkit-font-smoothing: antialiased) {
  @media (any-pointer) {
    .Collection--projects::-webkit-scrollbar {
      border: 0;
      height: 0;
      width: 0;
    }
  }
}

@media (max-width: 375px) {
  .Collection--projects {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
  }
}

.Collection--project {
  /* display: flex; */
  width: var(--project-width);
  /* flex-direction: column; */
  scroll-snap-align: start;
  margin: 1em 0;
  --border-radius: .5em;
  border-radius: var(--border-radius);
}

.Collection--spacer {
  flex-shrink: 0;
  width: calc(100vw - var(--project-width) - var(--content-horizontal-padding) - calc(var(--gutter) / 2));
}

.Collection-is-centered {
  --scroll-padding: calc(50vw - (var(--project-width) / 2));
}

.Collection-is-centered .Collection--projects {
  scroll-padding: var(--scroll-padding);
  justify-content: center;
}

.Collection-is-centered .Collection--spacer {
  width: calc(50vw - (var(--project-width) / 2) - (var(--gutter) / 2));
}

.Collection-is-centered .Collection--header {
  justify-content: center;
}

.Collection-is-centered .Collection--title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .Collection-is-centered .Collection--title {
    font-size: 1.4em;
  }
}