.Project--bookmark {
  position: absolute;
  top: -2px;
  right: 26px;
  width: 26px;
  height: 34px;
  border-radius: 2px 2px 5px 5px;
  z-index: 1;
}

.Project--bookmark > svg {
  overflow: visible;
}

.Project--bookmark:hover {
  opacity: 0.75;
}

/* .Bookmark {
  display: inline-flex;
  align-items: center;
}

.Bookmark-is-loading {
  opacity: 0;
  pointer-events: none;
}

.Bookmark:not(.Bookmark-is-bookmarked) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.Bookmark--icon::after {
  content: "📚";
  font-size: 2em;
  -webkit-filter: hue-rotate(-30deg) brightness(1.15);
  filter: hue-rotate(-30deg) brightness(1.15);
} */
