/* TODO - consider promoting to .Markdown in workers-brand-assets */
.Markdown > * {
  margin-top: .75em;
  margin-bottom: .75em;
}

.Markdown > * + h1,
.Markdown > * + h2,
.Markdown > * + h3,
.Markdown > * + h4,
.Markdown > * + h5,
.Markdown > * + h6 {
  margin-top: 1.5em;
}

.Markdown > h1,
.Markdown > h2 {
  font-weight: bold;
  font-size: 1.333em;
  line-height: 1.2em;
  margin-bottom: .5em;
}

.Markdown > h3,
.Markdown > h4,
.Markdown > h5,
.Markdown > h6 {
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1.333em;
  margin-bottom: .5em;
}


.Markdown > h1 + *,
.Markdown > h2 + *,
.Markdown > h3 + *,
.Markdown > h4 + *,
.Markdown > h5 + *,
.Markdown > h6 + * {
  margin-top: 0;
}

.Markdown > h1 + h2,
.Markdown > h2 + h3,
.Markdown > h3 + h4,
.Markdown > h4 + h5,
.Markdown > h5 + h6 {
  margin-top: 1em;
}

.Markdown > ul:not(:last-child),
.Markdown > ol:not(:last-child) {
  margin-bottom: 1.5em;
}

.Markdown > *:first-child {
  margin-top: 0;
}

.Markdown > *:last-child {
  margin-bottom: 0;
}

/* TODO - consider promoting to .Blockquote workers-brand-assets */
.Markdown blockquote {
  border-left: .25em solid var(--gray-8);
  padding-left: 1em;
}

