.Nav {
  display: flex;
  height: 100%;
}

.Nav--link-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom-right-radius: .3125em;
}

.Nav--item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.Nav--link {
  color: inherit;
  text-decoration: none;
  transition: box-shadow .3s ease;
}

.Nav--link:hover {
  background: rgba(var(--color-rgb), .05);
}

.Nav--link:active {
  background: rgba(var(--color-rgb), .1);
}

[js-focus-visible-polyfill-available] .Nav--link:focus {
  outline: none;
}

.Nav--link[is-focus-visible]:focus {
  box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
}

.Nav--link:not([is-focus-visible]) {
  --focus-size: 0;
}

.Nav--main-links {
  display: flex;
  height: 100%;
  margin-left: 0;
  margin-right: auto;
}

.Nav--main-links .Nav--link {
  padding: .5em 1em;
  border-radius: 10em;
}

@media (min-width: 1280px) {
  .Nav--main-links .Nav--item {
    padding-left: .25em;
    padding-right: .25em;
  }
}

.Nav--main-links .Nav--link.Nav--link-is-active {
  background: rgba(var(--gray-5-rgb), .2);
}

[theme="dark"] .Nav--main-links .Nav--link.Nav--link-is-active {
  background: rgba(var(--orange-rgb), .08);
  color: #fba056; /* TODO - use `var(--code-orange)` after updating workers-brand-assets */
}

.Nav--link.Nav--link-logo,
.Nav--item-sign-up {
  padding-left: 1em;
  padding-right: 1em;
}

.Nav--account-management {
  display: flex;
  height: 100%;
}

.Nav--item-sign-in {
  padding-right: 0;
}

@media (max-width: 1136px) {
  .Nav--link-home {
    display: none;
  }
}

@media (max-width: 768px) {
  .Nav--main-links {
    display: none;
  }

  .Nav--link.Nav--link-logo:first-child {
    margin-right: auto;
  }
}

@media (max-width: 414px) {
  .Nav--link-logo {
    font-size: .85em;
  }

  .Nav--item-sign-up {
    display: none;
  }

  .Nav--link.Nav--link-logo,
  .Nav--item-sign-in {
    padding-left: .75em;
    padding-right: .75em;
  }
}
