on:
  push:
    branches-ignore:
    - master
    paths:
    - 'sanity/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build Sanity Application
    steps:
    - uses: actions/checkout@master
    - name: NPM install
      run: "npm install"
      working-directory: 'sanity'
    - name: Build app
      run: "sanity build"
      env:
        SANITY_READ_TOKEN: ${{ secrets.SANITY_READ_TOKEN }}
      working-directory: 'sanity'
