on:
  push:
    branches:
      - master
  repository_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
    - uses: actions/checkout@master
    - name: NPM install
      run: "npm install"
    - name: Build app
      run: "npm run build"
    - name: Publish app
      uses: signalnerve/wrangler-action@master
      with:
        apiKey: ${{ secrets.apiKey }}
        email: ${{ secrets.email }}
